html{
text-align:center;
}
table{
    font-size:18px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-width:1px;
    border:solid;
}
td{
    border:solid;
    border-width:1px;
}

#title{
    border-bottom:solid;
    border-width:2px;
}
