html {
    background: #020;
    color: #6c6;
    font: 13px Courier New;
    line-height: 16px;
    margin: 0 5%;
    padding: 0;
    height: 96%;
    border: 5px dotted #242;
    border-width: 0 5px;
}
body {
    padding: 0 40px;
    height: 96%;
    border: 5px dashed #242;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

h1 ,h2,h3, ul, li, p, b {
    margin: 0;
    padding: 0;
}
h4 {
       color: red;	
       font-size:30;
       }
/*a:link, a:visited {
    color: #aea;
    text-decoration: none;
    padding: 0 3px;
}*/

a { color: #6a6; }

a:hover {
    color: black;
    background: #696;
}

a:focus {
    outline: none;
}

h2 {
    margin: 24px 0 24px 0;
    font: 400% impact courier new fixed;
    color: #fefefe;
    text-align: center;
}


h2+b {
    display: block;
    font-size: 10px;
    color: #595;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    margin: 20pt 0 10pt;
    padding: 3px 5px;
    color: #ac6;
    background: #001c00;
    border: 15px solid #001400;
    border-width: 5px 3px 10px 15px;
}

li {
    list-style-type: square;
    margin-bottom: 13px;
}

pre {
    color: #696;
    font-size: 11px;
    line-height: 14px;
}

div { margin-top: 15px; }

.irc {
    border: 1px dashed;
}

.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 35s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
